div{
 color:brown;
 height:200px;
 width:100px;
 border:5px solid black;
 padding:50px;
 margin:100px;

}
span{
    display:block;
    color:chartreuse;
    height:200px;
 width:100px;
 border:5px solid black;
 padding:50px;
 margin:100px;
}