*{
    margin: auto;
    text-align: center;
    padding:0;
    margin: 0;
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-image: url("assets/a3.jpg");
    background-size: cover;
}
.head{
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: #000000a1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    height: 100vh;
    width: 80%;
    display: inline-grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(6,1fr);
    margin: 0;
    position: relative;
    background-color: none;
    justify-items: center;
    align-items: center;
}
img{
    width: 8rem;
    height: 12rem;
}
h1{
    padding: 0;
    margin: 0;
}
.left{
    height: 630px;
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}
.left div{
    width: 90%;
    height: 22%;
    border: 1px solid white;
    border-radius: 50%;
    background-color: gray;
    background-image: url("assets/pokeball.jpg");
    background-size: cover;
}
.right{
    width: 10%;
    height: 630px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}
.right div{
    width: 90%;
    height: 22%;
    border: 1px solid white;
    border-radius: 50%;
    background-image: url("assets/pokeball.jpg");
    background-size: cover;
}
.main{
    display: flex;
    position: relative;
    top:6rem;

    
}
.left,.right{
    box-shadow: 2px;
    text-align: center;
    font-size: 2.2rem;
}
.turn{
    transition: transform 0.2s ease-in 0s;
    transform: rotateY(360deg);
}
#pokeicon{
    width: 2.5rem;
    height: 2.5rem;
}
.size{
    font-size: 3rem;
}